{% extends 'base.html' %}

{% block content %}
{% if comment.name.id == user.id %}

<h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
<p>{{ post.author }} | {{ post.published_at }}</p>
<p>{{ post.content}}</p>

{% for comment in comments %}
<strong>{{ comment.name }} - {{ comment.created_on }}</strong>
<br>
{{ comment.body }}<br><br>
{% endfor %}

<h3>Edit comment</h3>
<form method="post">
	{{ comment_form.as_p }}
	{% csrf_token %}
	<button type="submit">Submit</button>
	<a href="{% url 'post_detail' post.id %}">Cancel</a>
</form>

{% else %}
<p>Permission denied</p>
{% endif %}

{% endblock content %}
